#detail{
    width: 666px;
    padding: 20px 32px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 2;
    p{
    text-indent: 2em;

    }
    img{
        width: 100%;
    }
    // box-shadow: 0 0 10px rgba(255,255,255,0.2);

}